.nav {
  background: var(--dark);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2 {
  color: white;
  font-size: 22px;
}

.nav div {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: var(--primary);
}
