.hero {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 0 10%;
  background-color: #fff;
}

.heroText h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.heroLeft p {
  padding-bottom: 20px;
}
.heroText .subtitle {
  color: #666;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  color: #555;
  max-width: 500px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.heroBtn {
  display: flex;
  gap: 15px;
}

.heroBtn a {
  padding-top: 10px;
  text-decoration: none;
  background: #007bff;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
}

.heroBtn .outline {
  background: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.heroBtn a:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.heroImg img {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  display: block;
  margin: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 60px 20px;
    grid-template-areas: "img" "text";
  }

  .heroImg {
    grid-row: 1;
  }
  .heroLeft {
    grid-row: 2;
  }

  .description {
    margin: 20px auto;
  }

  .heroBtn {
    justify-content: center;
  }
}

/* SKILLS */

.skills {
  padding: 60px 80px;
}

.skills h2 {
  margin-bottom: 40px;
  font-size: 32px;
  color: #333;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.skillItem {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #555;
  transition: 0.3s;
  cursor: pointer;
}

.skillItem:hover{
    transform:translateY(-5px);
    color:#007bff;
}
